In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('../jobs.csv')

In [15]:
data.head()

,job_url,site,title,company,company_url,location,job_type,date_posted,interval,min_amount,...,company_num_employees,company_revenue,company_description,logo_photo_url,banner_photo_url,ceo_name,ceo_photo_url,id,job_function,lang
0,https://nl.indeed.com/viewjob?jk=e862481c3138dae3,indeed,Senior Credit Risk Modeller,Danos Group,https://nl.indeed.com/cmp/Danos-Group,"Werk van thuis, NL",fulltime,2024-05-03,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en
1,https://nl.indeed.com/viewjob?jk=22e00a19a062b14e,indeed,Climate Risk Assessment Intern,Signify,https://nl.indeed.com/cmp/Signify-4,"Eindhoven, NB, NL",NaN,2024-05-03,NaN,NaN,...,"10,000+",$5B to $10B (USD),NaN,https://d2q79iu7y748jz.cloudfront.net/s/_squar...,https://d2q79iu7y748jz.cloudfront.net/s/_heade...,Eric Rondolat,NaN,NaN,NaN,en
2,https://nl.indeed.com/viewjob?jk=93b2df137d6fcefc,indeed,Graduate Development Program – Capability Trac...,Philips,https://nl.indeed.com/cmp/Philips,"Eindhoven, NB, NL",fulltime,2024-05-03,NaN,NaN,...,"5,001 to 10,000",more than $10B (USD),"For more than 130 years, we have been creating...",https://d2q79iu7y748jz.cloudfront.net/s/_squar...,https://d2q79iu7y748jz.cloudfront.net/s/_heade...,"Jakobs, Roy",https://d2q79iu7y748jz.cloudfront.net/s/_ceoph...,NaN,NaN,en
3,https://nl.indeed.com/viewjob?jk=adaee4b9c1e62e87,indeed,Senior Cost and Value Engineer,Vattenfall,https://nl.indeed.com/cmp/Vattenfall,"Amsterdam, NH, NL",NaN,2024-05-03,NaN,NaN,...,"10,000+",more than $10B (USD),NaN,https://d2q79iu7y748jz.cloudfront.net/s/_squar...,https://d2q79iu7y748jz.cloudfront.net/s/_heade...,Anna Borg,https://d2q79iu7y748jz.cloudfront.net/s/_ceoph...,NaN,NaN,en
4,https://nl.indeed.com/viewjob?jk=4472969a65bc152c,indeed,Stress Testing Specialist (focus model ownership),ABN AMRO,https://nl.indeed.com/cmp/Abn-Amro,"Amsterdam, NH, NL",NaN,2024-05-02,NaN,NaN,...,"10,000+",$5B to $10B (USD),Bij ABN AMRO hebben we een duidelijke purpose:...,https://d2q79iu7y748jz.cloudfront.net/s/_squar...,https://d2q79iu7y748jz.cloudfront.net/s/_heade...,Robert Swaak,NaN,NaN,NaN,en

In [5]:
df = data.head()

In [16]:
#

NameError: name 'x' is not defined

In [12]:
data[data['location'] == 'Werk van thuis, NL']

Empty DataFrame
Columns: [job_url, site, title, company, company_url, location, job_type, date_posted, interval, min_amount, max_amount, currency, is_remote, num_urgent_words, benefits, emails, description, search_term, job_url_direct, company_url_direct, company_addresses, company_industry, company_num_employees, company_revenue, company_description, logo_photo_url, banner_photo_url, ceo_name, ceo_photo_url, id, job_function, lang, point]
Index: []

[0 rows x 33 columns]

In [ ]:
['Den Haag','Amsterdam','Rotterdam','Delft','Utrecht','Leiden','Zuid-Holland','Werk van thuis, NL']

In [11]:
data.location.value_counts()

location
(Amsterdamlaan, 3137 NH, Vlaardingen, Zuid-Holland, Nederland, (51.9373562, 4.3523167))                                                          194
(fonQ.nl, Nucleonenweg, 3542 CD, Nucleonenweg, Utrecht, Utrecht, Nederland, (52.1079432, 5.06347679452381))                                       32
(Eindhovenseweg, 5661 NB, Geldrop, Noord-Brabant, Nederland, (51.4261407, 5.5371118))                                                             28
(Nlong, Lobo, Centre, Cameroun, (3.8099586, 11.190725))                                                                                           18
(Glencairn Close, S66 7NL, Rotherham, England, United Kingdom, (53.4215363, -1.1898216))                                                          15
(Veldhoeve, 2381 NL, Zoeterwoude, Zuid-Holland, Nederland, (52.10419335, 4.535367204940908))                                                      14
(Klaasje Zevensterstraat, 1183 NL, Amstelveen, Noord-Holland, Nederland, (52.3033441, 4.8756177))                                                 13
(Blauwkarper, 2318 NL, Leiden, Zuid-Holland, Nederland, (52.1830932, 4.4993781))                                                                  13
(Thorbeckelaan, 2555 ZH, Den Haag, Zuid-Holland, Nederland, (52.0637839, 4.256108))                                                               10
(Nhacoongo, Inhambane, Moçambique, (-24.6792628, 34.5784607))                                                                                      9
(Service-shop.nl, Achter de Arnhemse Poortwal, 3811 LC, Achter de Arnhemse Poortwal, Amersfoort, Utrecht, Nederland, (52.1537813, 5.3850345))      6
(post nl, Bosscherweg, 6219 NM, Bosscherweg, Maastricht, Limburg, Nederland, (50.8639568, 5.6873411))                                              6
(Delford Bridge, PL30 4NL, England, United Kingdom, (50.5522088, -4.6634024))                                                                      5
(Wageningen, Gelderland, Nederland, (51.9750995, 5.6636754))                                                                                       5
(Boeketten.nl, Winkelcentrum Galecop, 3437 JV, Winkelcentrum Galecop, Nieuwegein, Utrecht, Nederland, (52.0533374, 5.0825553))                     4
(Alloga, Kempkens, 5465 NB, Kempkens, Veghel, Noord-Brabant, Nederland, (51.5932973, 5.520437041377678))                                           4
(Nijmegen, Nijmegen, Gelderland, Nederland, (51.842574850000005, 5.838960628748229))                                                               3
(Alkmaardermeer, 1911 NH, Nederland, (52.5384992, 4.7553398))                                                                                      3
(Oostpoort 12, Waldenlaan, 1093 NH, Waldenlaan, Amsterdam, Noord-Holland, Nederland, (52.357052100000004, 4.929858624843065))                      3
(GLS Depot NL1000, Conakryweg, 1047 HS, Conakryweg, Amsterdam, Noord-Holland, Nederland, (52.40118915, 4.750227173331375))                         3
(groningenbereikbaar.nl - Europaweg - Groningen, Europaweg, 9724 GS, Europaweg, Groningen, Groningen, Nederland, (53.2113206, 6.5866118))          3
(GLS Depot NL7500, Transportcentrum, 7547 RJ, Transportcentrum, Enschede, Overijssel, Nederland, (52.2352316, 6.833448885232003))                  2
(Bunnik, Stationsplein, 3981 CN, Stationsplein, Bunnik, Utrecht, Nederland, (52.0632104, 5.1957958))                                               2
(Beslist.nl BV, Meander, 6825 MH, Meander, Arnhem, Gelderland, Nederland, (51.979873, 5.9779894))                                                  2
(Gorinchem, 4205 NL, Gorinchem, Zuid-Holland, Nederland, (51.8441926, 4.9422382))                                                                  2
(NL+, Vertrekpassage, 1118 AW, Vertrekpassage, Haarlemmermeer, Noord-Holland, Nederland, (52.3104607, 4.7599085))                                  2
(National Bank Of Ethiopia, Sudan Street, 3131, Sudan Street, ኣዲስ ኣበባ / Addis Ababa, ኢትዮጵያ, (9.0173618, 38.750328401231535))                       2
(Sevenumseweg, 5971 NL, Grubbenvorst, Limburg, Nederland, (51.4201308, 6.0929517))                                                                 1
(Kleine Zelkeweg, 4301 NL, Zierikzee, Zeeland, Nederland, (51.6483693, 3.9337528))                                                                 1
(Woerden, Woerden, Utrecht, Nederland, (52.08701595, 4.876687198673499))                                                                           1
(Noorder IJdijk, 1023 NH, Amsterdam, Noord-Holland, Nederland, (52.3835001, 4.9628572))                                                            1
(Schiedam, 3119 NL, Schiedam, Zuid-Holland, Nederland, (51.9260637, 4.403737))                                                                     1
(NLB Banka, Afrim Zhitia, 40000, Afrim Zhitia, Mitrovica, Kosova / Kosovo, (42.8890154, 20.8681103))                                               1
(La Libertad de Shaglli, Zhaglli (Shaglli), Azuay, Ecuador, (-3.2234266, -79.4027477))                                                             1
(Apollo.nl, Korte Promenade, 1315 HN, Korte Promenade, Almere, Flevoland, Nederland, (52.3710738, 5.2164143))                                      1
Name: count, dtype: int64

In [9]:
#df

In [10]:
import streamlit as st
import pandas as pd
from geopy.geocoders import Nominatim,Photon
from geopy.extra.rate_limiter import RateLimiter

# Initialize geolocator
geolocator = Photon(user_agent="geoapiExercises")
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

# Geocode cities and add coordinates to DataFrame
df['location'] = df['location'].apply(geocode)
df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)
df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)

RateLimiter caught an error, retrying (0/2 tries). Called with (*('Amsterdam Zuid, NH, NL',), **{}).
Traceback (most recent call last):
  File "C:\Users\mcnak\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 449, in _make_request
    six.raise_from(e, None)
  File "<string>", line 3, in raise_from
  File "C:\Users\mcnak\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 444, in _make_request
    httplib_response = conn.getresponse()
  File "C:\Users\mcnak\anaconda3\lib\http\client.py", line 1374, in getresponse
    response.begin()
  File "C:\Users\mcnak\anaconda3\lib\http\client.py", line 318, in begin
    version, status, reason = self._read_status()
  File "C:\Users\mcnak\anaconda3\lib\http\client.py", line 279, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "C:\Users\mcnak\anaconda3\lib\socket.py", line 705, in readinto
    return self._sock.recv_into(b)
  File "C:\Users\mcnak\anaconda3\lib\ssl.py", line 1274, in recv_into
    return self.read(nbytes, buffer)
  File "C:\Users\mcnak\anaconda3\lib\ssl.py", line 1130, in read
    return self._sslobj.read(len, buffer)
TimeoutError: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\mcnak\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 703, in urlopen
    httplib_response = self._make_request(
  File "C:\Users\mcnak\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 451, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=read_timeout)
  File "C:\Users\mcnak\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 340, in _raise_timeout
    raise ReadTimeoutError(
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='photon.komoot.io', port=443): Read timed out. (read timeout=1)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\mcnak\anaconda3\lib\site-packages\requests\adapters.py", line 486, in send
    resp = conn.urlopen(
  File "C:\Users\mcnak\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 815, in urlopen
    return self.urlopen(
  File "C:\Users\mcnak\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 815, in urlopen
    return self.urlopen(
  File "C:\Users\mcnak\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 787, in urlopen
    retries = retries.increment(
  File "C:\Users\mcnak\anaconda3\lib\site-packages\urllib3\util\retry.py", line 592, in increment
    raise MaxRetryError(_pool, url, error or ResponseError(cause))
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='photon.komoot.io', port=443): Max retries exceeded with url: /api?q=Amsterdam+Zuid%2C+NH%2C+NL&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='photon.komoot.io', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\mcnak\anaconda3\lib\site-packages\geopy\adapters.py", line 482, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
  File "C:\Users\mcnak\anaconda3\lib\site-packages\requests\sessions.py", line 602, in get
    return self.request("GET", url, **kwargs)
  File "C:\Users\mcnak\anaconda3\lib\site-packages\requests\sessions.py", line 589, in request
    resp = self.send(prep, **send_kwargs)
  File "C:\Users\mcnak\anaconda3\lib\site-packages\requests\sessions.py", line 703, in send
    r = adapter.send(request, **kwargs)
  File "C:\Users\mcnak\anaconda3\lib\site-packages\requests\adapters.py", line 519, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='photon.komoot.io', port=443): Max retries exceeded with url: /api?q=Amsterdam+Zuid%2C+NH%2C+NL&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='photon.komoot.io', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\mcnak\anaconda3\lib\site-packages\geopy\extra\rate_limiter.py", line 136, in _retries_gen
    yield i  # Run the function.
  File "C:\Users\mcnak\anaconda3\lib\site-packages\geopy\extra\rate_limiter.py", line 274, in __call__
    res = self.func(*args, **kwargs)
  File "C:\Users\mcnak\anaconda3\lib\site-packages\geopy\geocoders\photon.py", line 166, in geocode
    return self._call_geocoder(url, callback, timeout=timeout)
  File "C:\Users\mcnak\anaconda3\lib\site-packages\geopy\geocoders\base.py", line 368, in _call_geocoder
    result = self.adapter.get_json(url, timeout=timeout, headers=req_headers)
  File "C:\Users\mcnak\anaconda3\lib\site-packages\geopy\adapters.py", line 472, in get_json
    resp = self._request(url, timeout=timeout, headers=headers)
  File "C:\Users\mcnak\anaconda3\lib\site-packages\geopy\adapters.py", line 494, in _request
    raise GeocoderUnavailable(message)
geopy.exc.GeocoderUnavailable: HTTPSConnectionPool(host='photon.komoot.io', port=443): Max retries exceeded with url: /api?q=Amsterdam+Zuid%2C+NH%2C+NL&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='photon.komoot.io', port=443): Read timed out. (read timeout=1)"))

ValueError: Columns must be same length as key

In [11]:
# refactor the following code to use pip8 standards

import time
from jobspy import scrape_jobs
import pandas as pd
from datetime import datetime, timedelta

search_terms = ['r']
# Indeed
# Get today's date
today = datetime.today()

df_jobs = []

In [16]:
old_data = pd.read_csv('../jobs.csv')
merged_df = old_data


def detect_language(text):
    """
    Detects the language of a given text.

    Args:
        text (str): The text to detect the language of.

    Returns:
        bool: True if the language is English, False otherwise.
    """
    lang, _ = langid.classify(text)
    return lang == 'en'


def detect_lang(x):
    """
    Detects the language of a given text.

    Args:
        x (str): The text to detect the language of.

    Returns:
        str: The detected language or 'not_detected' if detection fails.
    """
    try:
        lang, _ = langid.classify(x)
        return lang
    except:
        return 'not_detected'

In [18]:
    for search_term in search_terms:
        jobs = scrape_jobs(
            site_name=["indeed", "glassdoor"],
            search_term=search_term,
            location="Netherlands",
            results_wanted=40,
            country_indeed='Netherlands'  # only needed for indeed / glassdoor
        )
        jobs['search_term'] = search_term
        merged_df = pd.concat([merged_df,jobs], ignore_index=True)
        time.sleep(60)

    # Linkedin
    for search_term in search_terms:
        jobs = scrape_jobs(
            site_name=["linkedin"],
            search_term=search_term,
            location="Netherlands",
            results_wanted=40,
            country_indeed='Netherlands'  # only needed for indeed / glassdoor
        )
        jobs['search_term'] = search_term
        merged_df = pd.concat([merged_df,jobs], ignore_index=True)
        time.sleep(60)

2024-08-15 19:12:46,538 - JobSpy - INFO - Indeed search page: 1
2024-08-15 19:12:47,291 - JobSpy - INFO - Glassdoor search page: 1
2024-08-15 19:12:47,675 - JobSpy - INFO - Indeed finished scraping
2024-08-15 19:12:48,811 - JobSpy - INFO - Glassdoor search page: 2
2024-08-15 19:12:50,075 - JobSpy - INFO - Glassdoor finished scraping
2024-08-15 19:13:50,257 - JobSpy - INFO - LinkedIn search page: 1
2024-08-15 19:13:55,704 - JobSpy - INFO - LinkedIn search page: 2
2024-08-15 19:14:01,619 - JobSpy - INFO - LinkedIn search page: 3
2024-08-15 19:14:06,078 - JobSpy - INFO - LinkedIn search page: 4
2024-08-15 19:14:11,991 - JobSpy - INFO - LinkedIn search page: 5
2024-08-15 19:14:12,704 - JobSpy - INFO - Linkedin finished scraping
C:\Users\Admin\AppData\Local\Temp\ipykernel_19260\3581874470.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_df = pd.concat([merged_df,jobs], ignore_index=True)

In [20]:
merged_df.tail()

,job_url,site,title,company,company_url,location,job_type,date_posted,interval,min_amount,...,logo_photo_url,banner_photo_url,ceo_name,ceo_photo_url,id,job_function,lang,job_level,listing_type,salary_source
444,https://www.linkedin.com/jobs/view/3775140282,linkedin,Quantitative Risk Analyst,Belmont Lavan,https://uk.linkedin.com/company/belmontlavan,"Amsterdam, North Holland, Netherlands",None,2023-11-08,None,NaN,...,None,None,None,None,3775140282,None,NaN,,None,None
445,https://www.linkedin.com/jobs/view/3646111662,linkedin,Quantitative Risk Analyst - ST,Belmont Lavan,https://uk.linkedin.com/company/belmontlavan,"Utrecht, Utrecht, Netherlands",None,2023-06-01,None,NaN,...,None,None,None,None,3646111662,None,NaN,,None,None
446,https://www.linkedin.com/jobs/view/4000464396,linkedin,Junior Data Scientist (Remote),Kreativstorm,https://de.linkedin.com/company/kreativstorm,"Rotterdam, South Holland, Netherlands",None,NaN,None,NaN,...,None,None,None,None,4000464396,None,NaN,,None,None
447,https://www.linkedin.com/jobs/view/3999314304,linkedin,Entry-Level Remote Data Clerk,Beeldwerk collective studio 127,https://nl.linkedin.com/company/beeldwerk-coll...,,None,NaN,None,NaN,...,None,None,None,None,3999314304,None,NaN,,None,None
448,https://www.linkedin.com/jobs/view/3999587615,linkedin,"Data scientist, Den Haag",Joogles,https://nl.linkedin.com/company/joogles,"The Hague, South Holland, Netherlands",None,NaN,None,NaN,...,None,None,None,None,3999587615,None,NaN,,None,None